<!--
  Generated template for the ResultatRecherchePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>RESULTAT ( {{ numberResultat }} )</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon class="bigIcon" name="md-close-circle" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="cards-bg" >
  <resultat-list-partial [itemIncomes]='incomes' [arrayProduitsFromRequeteFiltre]='tabAllProduits' (sendNbreResultToParent)="getNumberResult($event)"> </resultat-list-partial>
</ion-content>
