<!-- <ion-list>
  <ion-item-sliding *ngFor="let country of countries">
    <ion-item>
      <ion-card>

          <img [src]="urlImg" (click)="show()" />
          <ion-fab right bottom>
            <button ion-fab (click)="edit()">
              <ion-icon name="brush"></ion-icon>
            </button>
          </ion-fab>
          <div class="card-title">Amsterdam</div>

      </ion-card>
    </ion-item>
  </ion-item-sliding>
</ion-list> -->



<!-- <ion-content class="card-background-page">
  <ion-card *ngFor="let item of progs">
    <img [src]="item.srcimg"/>
    <div class="card-title">{{item.nom}}</div>
    <div class="card-subtitle">{{item.zone}}</div>
  </ion-card>
</ion-content> -->



<ion-header>
  <ion-navbar>
    <ion-title>Nos Programmes</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="etatsegment"><!-- On bind à la variable etat  -->
      <ion-segment-button value="realiser"> <!--   [ngClass]="{'segment-activated': item =='rea'}"="segment-activated" Dans ce segment, etat = realiser  -->
        Réalisés
      </ion-segment-button>
      <ion-segment-button value="cours"  > <!-- Dans ce segment, etat = cours  -->
        En Cours
      </ion-segment-button>
      <ion-segment-button value="venir"> <!--  [ngClass]="{'segment-activated': item =='venir'}" Dans ce segment, etat = venir  -->
        A Venir
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <div [ngSwitch]="etatsegment">
    <div *ngSwitchCase="'realiser'">

      <div *ngFor="let item of progsFireBase">
        <ion-card *ngIf="'rea'== item.status" (click)="opendetailprogramme({itemall: item})" >
          <img class="filtre-black" [src]="item.facadeImg"/>
          <div class="card-title">{{item.nom}}</div>
          <div class="card-subtitle">{{item.zone}}</div>
        </ion-card>
      </div>

    </div>

    <div *ngSwitchCase="'cours'">

      <div *ngFor="let item of progsFireBase">
        <ion-card  *ngIf="'cours'== item.status" (click)="opendetailprogramme({itemall: item})">
          <img class="filtre-black" [src]="item.facadeImg"/>
          <div class="card-title">{{item.nom}}</div>
          <div class="card-subtitle">{{item.zone}}</div>
        </ion-card>
      </div>

    </div>

    <div *ngSwitchCase="'venir'">

      <div *ngFor="let item of progsFireBase">
        <ion-card  *ngIf="'venir'== item.status" (click)="opendetailprogramme({itemall: item})">
          <img class="filtre-black" [src]="item.facadeImg"/>
          <div class="card-title">{{item.nom}}</div>
          <div class="card-subtitle">{{item.zone}}</div>
        </ion-card>
      </div>

    </div>
  </div>
</ion-content>
<!-- <ion-content class="card-background-page">
  <div [ngSwitch]="etatsegment">
    <div *ngSwitchCase="'realiser'">

      <div *ngFor="let item of progs">
        <ion-card *ngIf="'rea'== item.status" (click)="opendetailprogramme({itemid: item.id})" >
          <img class="filtre-black" [src]="item.srcimg"/>
          <div class="card-title">{{item.nom}}</div>
          <div class="card-subtitle">{{item.zone}}</div>
        </ion-card>
      </div>

    </div>

    <div *ngSwitchCase="'cours'">

      <div *ngFor="let item of progs">
        <ion-card  *ngIf="'cours'== item.status" (click)="opendetailprogramme({itemid: item.id})">
          <img class="filtre-black" [src]="item.srcimg"/>
          <div class="card-title">{{item.nom}}</div>
          <div class="card-subtitle">{{item.zone}}</div>
        </ion-card>
      </div>

    </div>

    <div *ngSwitchCase="'venir'">

      <div *ngFor="let item of progs">
        <ion-card  *ngIf="'venir'== item.status" (click)="opendetailprogramme({itemid: item.id})">
          <img class="filtre-black" [src]="item.srcimg"/>
          <div class="card-title">{{item.nom}}</div>
          <div class="card-subtitle">{{item.zone}}</div>
        </ion-card>
      </div>

    </div>
  </div>
</ion-content> -->


<!-- | async -->