<ion-content class="card-background-page">
  
    <ion-card>
      <img src="assets/img/programmes/colline.jpg"/>
      <div class="card-title">Colline</div>
      <div class="card-subtitle">Keur Gorgui</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/programmes/dahlia.png"/>
      <div class="card-title">DAHLIA</div>
      <div class="card-subtitle">Sotrac Mermoz</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/programmes/kora.png"/>
      <div class="card-title">KORA</div>
      <div class="card-subtitle">Sacré Coeur</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/programmes/lierre.jpg"/>
      <div class="card-title">LIERRE</div>
      <div class="card-subtitle">Mermoz</div>
    </ion-card>
  
</ion-content>