page-contact {
    ion-card {
        position: relative;
        text-align: center;
        }
    .card
        {
            margin: 0px !important;
            width: 100%;
        }


    .text-justif{
        text-align: justify;
        line-height: 1.5;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    }

    //Pour le text area
    #myInput {
        width: calc(100% - 10px);
        border:solid 1px rgb(167, 159, 159);
        border-radius: 0;
        background: transparent;
    }

}
