<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!-- Bouton des réseaux sociaux -->
    <ion-fab right bottom>
      <button ion-fab color="sablux"><ion-icon name="md-share"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab><ion-icon name="logo-facebook" (click)="openBrowser('https://www.facebook.com/Sabluxgroup')"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter" (click)="openBrowser('https://twitter.com/sabluxgroup?lang=fr')"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-instagram" (click)="openBrowser('https://www.instagram.com/sabluxholding')"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-linkedin" (click)="openBrowser('https://www.linkedin.com/company/sablux-holding/')"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>

    <ion-grid no-padding>
        
        <ion-row no-padding>  <!-- ROW1 : Nos Programmes Immobiliers -->
          <ion-col col-12 no-padding>
            <ion-list no-margin>
              <ion-item-sliding no-margin no-padding #slidingItem1 >
                <ion-item no-margin no-padding #item1 (click)="openOption(slidingItem1, item1,'biens')">
                  <ion-card no-padding >
                    <img no-padding src="assets/img/programmes/accueil/programmes.jpg"/>
                    <div class="card-title"><ion-icon name="home"></ion-icon> Nos programmes immobiliers</div>
                  </ion-card>
                </ion-item>
                <ion-item-options >
                  <button ion-button color="sablux" icon-start (click)="openPage('page-liste-programmes' , 1 , {typeDeProgramme:'realiser'})">
                    <ion-icon name="done-all"></ion-icon>
                    Réalisés
                  </button>
                  <button color="gris" ion-button icon-start (click)="openPage('page-liste-programmes' , 1 , {typeDeProgramme:'cours'})">
                    <ion-icon name="ios-more"></ion-icon>
                    En Cours
                  </button>
                  <button color="light"  ion-button icon-start (click)="openPage('page-liste-programmes' , 1 , {typeDeProgramme:'venir'})">
                    <ion-icon name="home"></ion-icon>
                    A Venir
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row> <!-- END ROW1  -->
        
        <!-- ROW2:   Trouver un bien immobilier-->
        <ion-row no-padding> 
          <ion-col col-12 no-padding no-margin>
              <ion-list no-margin>
                <ion-item-sliding no-margin no-padding #slidingItem2>  <!-- On recupère le ion-item-sliding pour slider quand on clique-->
                    <ion-item no-margin no-padding #item2 (click)="openOption(slidingItem2, item2)">
                        <ion-card no-padding>
                            <img no-padding src="assets/img/programmes/accueil/rechercheimmo.jpg"/>
                            <div class="card-title"> <ion-icon name="search"></ion-icon> Trouver un bien immobilier</div>
                          </ion-card>
                    </ion-item>
                    <ion-item-options>
                      <button ion-button color="light" icon-start (click)="openPage('page-trouver-bien', 2 ,{statutBien:'louer'})">
                        <ion-icon name="home"></ion-icon>
                        A Louer
                      </button>
                      <button class="slidebutton" ion-button icon-start>
                        <ion-icon name="cash"></ion-icon>
                        A Acheter
                      </button>
                    </ion-item-options>
                </ion-item-sliding>
              </ion-list>
          </ion-col>
        </ion-row>
        <!-- END ROW2: -->

        <!-- ROW3:   Acceder à votre espace membre-->
        <ion-row no-padding> 
          <ion-col col-12 no-padding>
            <ion-list no-margin>
              <ion-item-sliding no-margin no-padding #slidingItem3>  <!-- On recupère le ion-item-sliding pour slider quand on clique-->
                <ion-item no-margin no-padding #item3 (click)="openOption(slidingItem3, item3, 'espace')">
                  <ion-card no-padding>
                    <img no-padding src="assets/img/programmes/accueil/espace.jpg"/>
                    <div class="card-title"><ion-icon name="contact"></ion-icon> Accéder à mon espace membre</div>
                  </ion-card>
                </ion-item>
                <ion-item-options>
                  <button ion-button color="light" icon-start (click)="openBrowser('http://sabluxholding.com/')">
                    <ion-icon name="planet"></ion-icon>
                    Site WEB
                  </button>
                  <button class="slidebutton" ion-button icon-start (click)="openBrowser('http://sabluxholding.com/login.php')">
                    <ion-icon name="contact"></ion-icon>
                    ESPACE
                  </button>
                  <button ion-button color="light" icon-start (click)="openBrowser('http://sabluxholding.com/dist/privacy_policy.html')">
                    <ion-icon name="document"></ion-icon>
                    Politique de <br> confidentialité
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row> 
        <!-- END ROW:3 -->

        <ion-row no-padding> <!-- ROW4: Contact-->
          <ion-col col-12 no-padding>
            <ion-list no-margin>
              <ion-item-sliding no-margin no-padding #slidingItem4>  <!-- On recupère le ion-item-sliding pour slider quand on clique-->
                <ion-item no-margin no-padding #item4 (click)="openOption(slidingItem4, item4, 'contact')">
                  <ion-card no-padding>
                    <img no-padding src="assets/img/programmes/accueil/contact.jpg"/>
                    <div class="card-title"><ion-icon name="contacts"></ion-icon> Contacter SABLUX</div>
                  </ion-card>
                </ion-item>
                <ion-item-options>
                  <button ion-button color="light" icon-start (click)="openPage('page-contact', 4)">
                    <ion-icon name="contacts"></ion-icon>
                    Contacter
                  </button>
                  <button class="slidebutton" ion-button icon-start (click)="openPhone(numeroSablux)">
                    <ion-icon name="call"></ion-icon>
                    Appeler
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row> <!-- END ROW:3 -->

    </ion-grid>
</ion-content>


<!-- <ion-card no-padding>
              <img no-padding src="assets/img/programmes/accueil/espace.jpg"/>
              <div class="card-title">Acceder à votre espace membre</div>
            </ion-card> -->