resultat-list-partial {
    ion-card.adv-map p {
        font-size: 0.7em !important;
      }
      
      button[fab].fab-map {
        top: calc(100% - 35px);
        z-index: 50;
      }
      
      .item-bold {
        font-weight: bold;
      }

      h2 {
        font-weight: bold;
      }

      .pasDeResult{
        color: #913E98;
        font-weight: bold;
        margin-left: 100px;
        margin-right: auto;
      }
      // Pour le label d'un produit
      div {
        word-wrap: break-word;
      }
    
}
