<!-- Generated template for the ResultatListPartialComponent component -->
<!--  -->
<div *ngIf="numberResult==0">
  <img src="assets/img/programmes/accueil/sablier_carré.jpg"/>
  <h1 class="pasDeResult" >Aucun produit ne correspond à vos recherches </h1>
</div>
  <!-- <ion-icon name="search"></ion-icon> -->
<!--  -->
<ion-card class="adv-map" *ngFor="let item of arrayResult" text-wrap> <!-- La directive text-wrap coupe le texte s'il est trop long et met le reste a la ligne -->
  <!-- Pour chaque produit, on affiche ses informations et son tableau d'images -->

  <div>
    <ion-row class="no-padding"> <!-- Espace du slider image-->
      <ion-col col-12 class="no-padding">
        <ion-slides autoplay="2000" speed="500" pager>
          <ion-slide *ngIf='cacheImg.length == 0'>
            <img src="assets/img/bicSablux.jpg">
          </ion-slide>
        </ion-slides>
      </ion-col> 
    </ion-row><!-- Fin espace slider -->
  </div>

  <ion-item> <!--  -->
    <ion-icon color="subtle" large item-start name='home'></ion-icon>
    <h2><b>{{item.label | uppercase}}</b></h2>
    <p>{{item.array_options.options_niveau}}</p>
  </ion-item>
  <ion-item>
    <ion-icon color="subtle" large item-start name='cash'></ion-icon>
    <h2>{{item.price | number: '1.0-0'}} FCFA / mois</h2>
  </ion-item>
  <ion-item>
    <ion-icon color="subtle" large item-start name='map'></ion-icon>
    <h2>{{item.array_options.options_zone}}</h2>
  </ion-item>
  <ion-item>
    <ion-icon color="subtle" large item-start name='calendar'></ion-icon>
    <h2>{{item.date_creation}}</h2>
  </ion-item>
    
  <ion-row >
    <ion-col col-6>
      <button block ion-button color="gris" item-start  (click)="openContacter(item)"> Contacter </button>
    </ion-col>
    <ion-col col-6>
      <button block ion-button color="sablux" item-end (click)="openAppeler(numeroSablux)" > Appeler </button>
    </ion-col>
  </ion-row>

</ion-card>





 <!-- <span ion-text item-start color="sablux" class="item-bold">{{item.date_creation}}</span> -->
    <!-- <button ion-button color="sablux" clear item-end icon-start outline>
      <ion-icon name='navigate'></ion-icon>
      Interessé
    </button> -->
    
<!-- <ion-fab right top>
      <button ion-fab class="fab-map">
        <ion-icon name='pin'></ion-icon>
      </button>
    </ion-fab> -->