<!-- Generated template for the ResultatListPartialComponent component -->
<!--  -->
<div *ngIf="numberResult==0">
  <img src="assets/img/programmes/accueil/sablier_carré.jpg"/>
  <h1 class="pasDeResult" >PAS DE RESULTAT </h1>
</div>
  <!-- <ion-icon name="search"></ion-icon> -->
<!--  -->
<ion-card class="adv-map" *ngFor="let item of arrayResult">
  <div style="position: relative">
    <img src="assets/img/bicSablux.jpg">
  </div>
  <ion-item> <!--  -->
    <ion-icon color="subtle" large item-start name='home'></ion-icon>
    <h2><b>{{item.label | uppercase}}</b></h2>
    <p>{{item.niveauetage}}</p>
  </ion-item>
  <ion-item>
    <ion-icon color="subtle" large item-start name='cash'></ion-icon>
    <h2>{{item.price | number: '1.0-0'}} FCFA / mois</h2>
  </ion-item>
  <ion-item>
    <ion-icon color="subtle" large item-start name='map'></ion-icon>
    <h2>{{item.zone}}</h2>
  </ion-item>
  <ion-item>
    <ion-icon color="subtle" large item-start name='calendar'></ion-icon>
    <h2>{{item.date_creation}}</h2>
  </ion-item>
    
  <ion-row >
    <ion-col col-6>
      <button block ion-button color="gris" item-start  (click)="openContacter(item)"> Contacter </button>
    </ion-col>
    <ion-col col-6>
      <button block ion-button color="sablux" item-end (click)="openAppeler(numeroSablux)" > Appeler </button>
    </ion-col>
  </ion-row>

</ion-card>





 <!-- <span ion-text item-start color="sablux" class="item-bold">{{item.date_creation}}</span> -->
    <!-- <button ion-button color="sablux" clear item-end icon-start outline>
      <ion-icon name='navigate'></ion-icon>
      Interessé
    </button> -->
    
<!-- <ion-fab right top>
      <button ion-fab class="fab-map">
        <ion-icon name='pin'></ion-icon>
      </button>
    </ion-fab> -->