ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
   }

page-detail-programme {

    .no-padding {// Pour enlever le padding pour que ca soit full
        padding: 0px !important;
    }
    .text-justif{
        text-align: justify;
        line-height: 1.5;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
}
