ion-app._gmaps_cdv_ .nav-decor {
    background-color: transparent !important;
   }

page-detail-programme {

    .no-padding {// Pour enlever le padding pour que ca soit full
        padding: 0px !important;
    }

    .boutonDown {
        position: fixed;
        bottom: 0px;
    }

    //Les pagers du slide son
    .swiper-pagination-bullet {
        background: white;
        opacity: 0.5;
    }
    
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #913E98;
    }

}
