<ion-header>

    <ion-navbar>
      <ion-title>{{chooseprog.nom}}</ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <ion-icon class="bigIcon" name="md-close-circle" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="no-padding">
      <ion-grid class="no-padding">
          <ion-row class="no-padding"> <!-- Espace du slider image-->
            <ion-col col-12 class="no-padding">

              <ion-slides autoplay="2000" speed="500" pager>
                <ion-slide *ngFor="let item of chooseprog.tabUrlImg">
                  <img src="{{item}}"/>
                </ion-slide>
              </ion-slides>

            </ion-col> 
          </ion-row><!-- Fin espace slider -->

          <ion-row>
            <div class="center">
              <ion-chip>
                <ion-icon name="home" color="sablux"></ion-icon>
                <ion-label>{{chooseprog.nom}}</ion-label>
              </ion-chip>
            </div>
          </ion-row>


          <ion-row> <!-- ESPACE DESCRIPTION-->
            <ion-col offset-1 col-10> 
                <p class="text-justif">{{chooseprog.description}}</p>
            </ion-col>
          </ion-row><!-- FINN ESPACE DESCRIPTION--> 
      </ion-grid>
      
      <!-- <googlemap-partial></googlemap-partial> -->
      <googlemap-partial [progForMap]="chooseprog"></googlemap-partial>

    <br><br><br>
  </ion-content>
  <ion-footer no-shadow>
    <button ion-button class="boutonDown" color="sablux" type="submit" full icon-left large (click)="openContacter(chooseprog)"> 
      <ion-icon name="happy"></ion-icon>
      <p margin-right>Je suis interessé </p> 
      </button>
  </ion-footer>