<!--FiltrePartialComponent Page d'affichage du filtre -->

<!-- Image Top -->
<ion-card no-padding>
  <img src="assets/img/programmes/accueil/rechercheimmo.jpg"/>
  <!-- <ion-icon name="search"></ion-icon> -->
</ion-card>

<form (ngSubmit)="sendInputs(inputs)">
  <!-- Zone -->
  <ion-list radio-group>

      <ion-list-header>
        <b>Choisissez une zone de recherche</b> 
      </ion-list-header>

      <ion-item>
        <ion-label>Zone</ion-label>
        <ion-select name="input_zone" [(ngModel)]="inputs.zone" placeholder="Sans ce critère">
          <ion-option value="none">
            Sans ce critère
          </ion-option>
          <!-- <ion-option value="aroundme">
            Autour de moi
          </ion-option> -->
          <div *ngFor="let yeuf of arrayZone">
            <ion-option value="{{yeuf}}">
              {{yeuf}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item>
      
    </ion-list>
  <!-- TYPE -->
  <ion-list radio-group>

    <ion-list-header>
      <b>Choisissez un type de bien</b> 
    </ion-list-header>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select name="input_type" [(ngModel)]="inputs.type" placeholder="Sans ce critère">
        <ion-option value="none">Sans ce critère</ion-option>
        <ion-option value="10">Magasin</ion-option>
        <ion-option value="8">Villa</ion-option>
        <ion-option value="9">Duplex</ion-option>
        <ion-option value="1">Studio</ion-option>
        <ion-option value="2">F2</ion-option>
        <ion-option value="3">F3</ion-option>
        <ion-option value="4">F4</ion-option>
        <ion-option value="5">F5</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <!-- PRIX -->
  <ion-list radio-group>
    
      <ion-list-header>
            <b>Choisissez un prix maximal (en FCFA) : </b> 
      </ion-list-header>
      <!-- <ion-input type="number" name="prixmax" [(ngModel)]="inputs.prix"></ion-input> -->
      <ion-row>
        <p class="center">(Mettez 0 pour rechercher sans ce critère)</p>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-range no-padding name="input_prix_slide" min="0" max="4000000" pin="true" [(ngModel)]="inputs.prix" color="sablux">
            <ion-icon range-left small name="cash"></ion-icon>
            <ion-icon range-right name="cash"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col offset-3 col-6 no-border>
          <ion-item>
            <ion-input class="center" name="input_prix" type="number" placeholder="Prix Maximal" [(ngModel)]="inputs.prix"></ion-input>
          </ion-item>
        </ion-col> 
        <!-- <textarea class="center" name="input_prix" type="number" rows="1" maxLength="500" [(ngModel)]="inputs.prix"></textarea> -->
      </ion-row>

  </ion-list>
  <br><br><br><br>
    <button ion-button class="boutonDown" color="sablux" type="submit" full icon-left large [disabled]="!boutonRechercherOn" ng-class="{classButtonOff: !boutonRechercherOn}"> 
      <ion-icon name="home"></ion-icon>
      RECHERCHER 
    </button>
</form>


<!-- SEARCHBAR -->
<!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
 
    <ion-list>
        <ion-item *ngFor="let item of itemsZone">
            {{item.zone}}
        </ion-item>
    </ion-list> -->
