<!--FiltrePartialComponent Page d'affichage du filtre -->

<!-- Image Top -->
<ion-card no-padding>
  <img src="assets/img/programmes/accueil/rechercheimmo.jpg"/>
  <!-- <ion-icon name="search"></ion-icon> -->
</ion-card>

<form (ngSubmit)="sendInputs(inputs)">
  <!-- Zone -->
  <ion-list radio-group>

      <ion-list-header>
        <b>Choisissez une zone de recherche</b> 
      </ion-list-header>

      <ion-item>
        <ion-label>Zone</ion-label>
        <ion-select name="input_zone" [(ngModel)]="inputs.zone" placeholder="Autour de Moi">
          <ion-option value="none">
            Sans ce critère
          </ion-option>

          <ion-option value="aroundme">
            Autour de moi
          </ion-option>
          <div *ngFor="let yeuf of arrayZone">
            <ion-option value="{{yeuf}}">
              {{yeuf}}
            </ion-option>
          </div>
        </ion-select>
      </ion-item>
      
    </ion-list>
  <!-- TYPE -->
  <ion-list radio-group>

    <ion-list-header>
      <b>Choisissez un type de bien</b> 
    </ion-list-header>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select name="input_type" [(ngModel)]="inputs.type" placeholder="Sans ce critère">
        <ion-option value="none">Sans ce critère</ion-option>
        <ion-option value="villa">Villa</ion-option>
        <ion-option value="F1">F1</ion-option>
        <ion-option value="F2">F2</ion-option>
        <ion-option value="F3">F3</ion-option>
        <ion-option value="F4">F4</ion-option>
        <ion-option value="F5">F5</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>
  <!-- PRIX -->
  <ion-list radio-group>
    
      <ion-list-header>
        <b>Choisissez un prix maximal (en FCFA)</b> 
      </ion-list-header>
      <ion-item>
        <ion-range name="input_prix" min="0" max="2500000" pin="true" [(ngModel)]="inputs.prix" color="sablux">
          <ion-icon range-left small name="cash"></ion-icon>
          <ion-icon range-right name="cash"></ion-icon>
        </ion-range>
      </ion-item>

  </ion-list>
  <!-- NIVEAU -->
  <!-- <ion-list radio-group>

    <ion-list-header>
      <b>Choisissez un niveau d'étage</b> 
    </ion-list-header>

    <ion-item>
      <ion-label>Niveau étage</ion-label>
      <ion-select name="input_etage" [(ngModel)]="inputs.etage" placeholder="Sans ce critère">
        <ion-option value="none" >Sans ce critère</ion-option>
        <ion-option value="0" >Rez de chaussée</ion-option>
        <ion-option value="1">1er étage</ion-option>
        <ion-option value="2">2ème étage</ion-option>
        <ion-option value="3">3ème étage</ion-option>
        <ion-option value="4">4ème étage</ion-option>
        <ion-option value="5">5ème étage</ion-option>
      </ion-select>
    </ion-item>
  </ion-list> -->

  <!-- {{inputs.zone}}
  {{inputs.type}}
  {{inputs.prix}}
  {{inputs.etage}} -->

  <button ion-button color="sablux" type="submit" full icon-left large> 
    <ion-icon name="home"></ion-icon>
    RECHERCHER 
  </button>
</form>


<!-- SEARCHBAR -->
<!-- <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
 
    <ion-list>
        <ion-item *ngFor="let item of itemsZone">
            {{item.zone}}
        </ion-item>
    </ion-list> -->




    <!-- <ion-list-header>
      <b>Entrez la zone de recherche</b> 
    </ion-list-header>
  
    <ion-item>
      <ion-label fixed>Zone</ion-label>
      <ion-input name="input_zone" type="text"></ion-input>
    </ion-item> -->
    


<!-- <ion-grid no-padding>

  <ion-row radio-group [(ngModel)]="type">

    <ion-col>
      <ion-item>
        Type
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>Villa</ion-label>
        <ion-radio no-padding value="villa"></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label>F1</ion-label>
        <ion-radio no-padding value="F1"></ion-radio>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
       <ion-label>F2</ion-label>
        <ion-radio no-padding value="F2"></ion-radio>
      </ion-item>
    </ion-col>
    
    <ion-col>
      <ion-item>
       <ion-label>F3</ion-label>
        <ion-radio no-padding value="F3"></ion-radio>
      </ion-item>
    </ion-col>
    
    <ion-col>
      <ion-item>
       <ion-label>F4</ion-label>
        <ion-radio no-padding value="F4"></ion-radio>
      </ion-item>
    </ion-col>
  
  </ion-row>

</ion-grid> -->





<!-- <ion-item>
  <ion-label>Go</ion-label>
  <ion-radio value="golang" checked="true"></ion-radio>
</ion-item>

<div class="button-bar" >         
    <ion-label>F1</ion-label><ion-radio ng-click="changedRadioValue(item)" style="width:33.5%"></ion-radio>
    <ion-label>F2</ion-label><ion-radio ng-click="changedRadioValue(item)" style="width:33.5%"></ion-radio>
</div>  

<ion-list>
  <ion-item>
    <ion-label fixed>Username</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-range [(ngModel)]="brightness">
      <ion-icon range-left small name="sunny"></ion-icon>
      <ion-icon range-right name="sunny"></ion-icon>
    </ion-range>
  </ion-item>
</ion-list> -->



<!-- <ion-item>
    <ion-label fixed > Villa</ion-label>
    <ion-radio value="villa"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label fixed >F1</ion-label>
    <ion-radio value="F1"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label fixed >F2</ion-label>
    <ion-radio value="F2"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label fixed >F3</ion-label>
    <ion-radio value="F3"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label fixed >F4</ion-label>
    <ion-radio value="F4"></ion-radio>
  </ion-item> -->