filtre-partial {
    ion-card {
        position: relative;
        text-align: center;
        }
    .card
        {
            margin: 0px !important;
            width: 100%;
        }
    // .classButtonOn{
    //     color: sablux;
    // }
    .classButtonOff{
        color: gray;
    }
}
